header{
  display: flex;
  justify-content: center;
  height: 60px;
  box-shadow: 0 8px 6px -6px #5e5c5c45;
  align-items: center;
  position: relative;
 
}


body{
  font-family: 'roboto'; 
  
}


#mainImage {
  height: 15rem;
  object-fit: cover;
}



.menuContainer {
  background-color: rgb(238, 236, 236);
  display: flex;
flex-direction: column;
}


.arrowback{

  font-size: 1.7rem;
  position: absolute;
  left: 10px;
  top: 13px;
  color: black;
}

.menuContainer img{
  
  object-fit: cover;
  width: 100%;
}

.menuTitle{
display: flex;
align-items: center;
justify-content: space-between;
border-radius: 30px 30px 0px 0px;
margin-top: -30px;
padding: 0 10px;

}

.menuN{
  font-size: 1.7rem;
  font-family: shrikhand, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.menuT{
border-bottom: 3px solid #99e2d0;
font-weight: 100;
padding-bottom: 3px;
width: 40px;
margin-left: 15px;

}

.plats{
background: white;
margin-left: 15px;
margin-right: 15px;
padding-left: 5px;
margin-top: 18px;
border-radius: 10px;
box-shadow: 0px 3px 4px lightgrey;
border: 1px solid white;
cursor: pointer;


}

.platSubtitle{
  display: flex;
  justify-content: space-between;
}

.plats p{
  margin: 4px;

}

.allmenu{
  margin-bottom: 15px;
}

.order {
  display: flex;
  justify-content: center;
  padding: 2rem;
}


#mainImage{
  background-image: url(./jay-wennington-N_Y88TWmGwA-unsplash.jpg);
}


.allSlide{
  display: flex;
}


.buttonTitle{
  border:0;
  padding: .75rem 1.5rem;
  font-weight: 500;
  font-size: 1.1rem;
  border-radius: 100px;
  color: #fff;
  background-color: #686868;
  background-image: linear-gradient(0deg,rgba(147,86,220,.9),rgba(255,121,218,.9));
  cursor: pointer;
  transition-duration: .25s;
  box-shadow: .25rem .25rem 10px rgba(0,0,0,.25);
}




.footerMain{
  background-color: rgb(53, 51, 51);
  padding: 2rem;
}

footer img{
  width: 8rem;
  filter: invert(100%);
}

.footerContent{
filter: invert(100%);
display: flex;
justify-content: flex-start;
align-items: center;
line-height: 0px;

}

.footerIcon{
  margin-right: 7px;
}

.footerContent p{
  margin-bottom: 1rem;
}


.allMenu{
  animation: apparition 1.5s ease-out;
  
  }
  
  @keyframes apparition{
    from {
      opacity: 0;
      transform: translateY(-100px);
    }
    to{
      opacity: 1;
      transform: translateY(0px);
    }
  
  
  }


  .plats{
    animation: apparition 2s ease-in-out;
    
    }
    
   


    @keyframes apparition{
      from {
        opacity: 0;
        transform: translateY(100px);
      }
      to{
        opacity: 1;
        transform: translateY(0px);
      }
    
    
    }
  

.tickSlide{
  position: relative;
  right: -70px;
   
}



/*animation tickslide*/






@media screen and (min-width: 768px){


body{
  margin: 3rem;
}

#mainImage{
  max-width: 100%;
max-height: 32rem;
width: 100%;
object-fit: cover;
}

.menuContainer {
  background-color: rgb(247, 247, 247);

}
.menuContainer img{
  height: 25rem;
}
 
.everyMenu{

  display: flex;
  justify-content: space-around;

}

.allMenu {
  width: 25rem;
}

.footerlogo {
  display: flex;
  justify-content: center;
}

.footerParagraphe {
  display: flex;
  justify-content: space-around;
  padding-top: 25px;
}





}